.createRecord {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #0000007a;
}

.createRecord_container {
  height: 100%;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 150px 0;
}

.createRecord_body {
  width: 100%;
  height: 100%;
  background-color: #010f37;
}

.createRecord_heder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 40px;
  margin: 10px 0 0 0;
}

.createRecord_heder h1 {
  font-size: 24px;
  font-weight: 600;
}

.close {
  background: none;
  border: none;
  height: 24px;
  width: 24px;
  cursor: pointer;
}

.close svg {
  color: #fff;
  height: 24px;
  width: 24px;
}

.createRecord_body_content {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  height: 100%;
}

.createRecord_content {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.createRecord_footer {
  flex: 0 0 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.createNewRecord {
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  padding: 5px 20px;
  background-color: #00c95a;
}

.select {
  display: flex;
  gap: 10px;
  align-items: center;
}

.comment_area {
  width: 590px;
  height: 150px;
  padding: 10px;
  resize: none;
}
