.header {
  flex: 0 0 60px;
  background-color: #01081c;
  border-bottom: 1px solid #1d2e5f;
}

.header_container {
  height: 100%;
  max-width: 1520px;
  margin: 0 auto;
}

.header_block {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header_logo {
  flex: 0 1 auto;
}

.header_title {
  font-size: 24px;
  font-weight: 700;
  color: #ff8100;
}

.header_settings {
  flex: 0 1 auto;
}

.add_new_record {
  text-align: center;
  vertical-align: middle;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #00c95a;
  border: none;
  transition: 0.5s;
}

.add_new_record span {
  font-weight: 500;
  color: #fff;
}

.add_new_record svg {
  fill: #fff;
  height: 24px;
  width: 24px;
}

.add_new_record:hover span {
  color: #00c95a;
  transition: 0.5s;
}

.add_new_record:hover svg {
  fill: #00c95a;
  transition: 0.5s;
}

.add_new_record:hover {
  background-color: #ffffff;
  transition: 0.5s;
}
